appdirs==1.4.3
asgiref==3.2.7
coverage==5.0.4
Django==3.0.7
olefile==0.46
packaging==20.3
Pillow==8.3.2
psycopg2-binary==2.8.6
pyparsing==2.4.7
pytz==2019.3
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
