{% extends "base.html" %}
{% load static %}
{% block title %}<title>About Silent Flow Label</title>{% endblock %}
{% block content %}
    <div class="padding-top-100"></div>
    <div class="banner-container">
        <h1 class="center-align">About Silent Flow</h1>
        <!--<h2 class="center-align"></h2>-->
        <div class="center-align about-container">
            <h2>Silent Flow is an ambient experimental netlabel with free music distribution.</h2>
        </div>
    </div>

    <link rel="stylesheet" href="{% static '/css/sf/contact.css' %}">
{% endblock %}