{% extends "base.html" %}
{% load static %}
{% block title %}<title>About Silent Flow Label</title>{% endblock %}
{% block description %}
    <meta name="description"
          content="About Silent Flow - ambient, experimental, jazz label"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="padding-top-100"></div>
    <div class="banner-container">
        <h1 class="center-align">About Silent Flow</h1>
        <!--<h2 class="center-align"></h2>-->
        <div class="center-align about-container">
            <h2>Silent Flow is a free digital music distribution platform.</h2>
            <br>
            All our releases are available for free, we do not commercially benefit from music in any way.
            Our only goal is to promote our artists and music they create.
            <br><br>
            Artists still hold the right to their works and can distribute or publish them by themselves.
            <br><br>
            All releases are published under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/ ">Creative Commons license</a>.
        </div>
    </div>

    <link rel="stylesheet" href="{% static '/css/sf/about.css' %}">
{% endblock %}