{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}<title>Silent Flow artists</title>{% endblock %}
{% block description %}
    <meta name="description"
          content="List of Silent Flow's musicians"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}

    <div class="padding-top-100"> </div>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion center-align">
        {% for artist in artists %}
            {% if artist.bio %}
            <li>
                <div class="collapsible-header grey darken-4"><div class="row artist-header">{{ artist.name }}</div></div>
                <div class="collapsible-body"><div class="artist-bio center-align"> {{ artist.bio }}</div>
                    {% if artist.websites %}
                    <br>
                    <div class="center-align"><a href="{{ artist.websites.0 }}" >website</a></div><br>
                    {% endif %}
                        {% for release in artist.releases %}
                                <div class="center-align"><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/release/{{ release.slug }}"> [{{ release.catalogue_number }}] {{ release.name }}</a></div>
                        {% endfor %}
                </div>

            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>


{% endblock %}
{% block external %}
    <script type="text/javascript" src="{% static 'js/sf/artists.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sf/artists.css' %}">
{% endblock %}