{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% endblock %}
    {% block description %}{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta name="google-site-verification" content="GSgJSa03K9WFZBSMZOMrX9O_v8aZUznDExfLNNXfE9w" />
    {% block meta %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="/" class="brand-logo hide-on-med-and-down">
                <img class="sf_navlogo" border="0" alt="silentflow_logo" src="{% static 'images/sf/logo.png' %}" width="40" height="40">
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <img border="0" alt="silentflow_logo" src="{% static 'images/sf/logo.png' %}" width="40" height="40">
            </a>
            <ul class="right hide-on-med-and-down">
                <!--<li><a href="#">Releases</a></li>-->
                <!--<li><a href="#">Artists</a></li>-->
                <!--<li><a href="#">About</a></li>-->
                <li><a href="/contact/">Contact</a></li>
            </ul>
            <ul class="side-nav grey darken-4" id="mobile-demo">
                <li><a href="/">Main page</a></li>
                <!--<li><a href="#">Releases</a></li>-->
                <!--<li><a href="#">Artists</a></li>-->
                <!--<li><a href="#">About</a></li>-->
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>
{% block content %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-16979651-3', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="{% static 'js/sf/base.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/sf/base.css' %}">

{% block external %}{% endblock %}
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Silent Flow Label</h5>
                    <p class="grey-text text-lighten-4">Silent Flow is an ambient, experimental, downtempo, soundscape, psychill label with free digital distribution.</p>
                </div>
                <div class="col l2 offset-l3 s12">
                    <h5 class="white-text">Social</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/silentflow.netlabel/">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/SilentFlowLabel">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://soundcloud.com/silent-flow-netlabel">Soundcloud</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://vk.com/silentflow">VK</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="/">Silent Flow Netlabel</a>
                <a class="grey-text text-lighten-4 right" href="https://creativecommons.org/">Creative Commons</a>
            </div>
        </div>
    </footer>
</body>
</html>