{% extends "base.html" %}
{% load static %}
{% block title %}<title>Silent Flow Netlabel contact page</title>{% endblock %}
{% block description %}
    <meta name="description"
          content="Release submission and contact information"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block content %}
    <div class="padding-top-100"></div>
    <div class="banner-container">
        <h1 class="center-align">Contact</h1>
        <h2 class="center-align">and release submission</h2>
        <div class="center-align contact-container">
            Feel free to contact us by email. If you're willing to become a part of our label, please send a link to your material - use file transfer sites instead of attaching flies to email.
            <br><br>
            <h3><a href="mailto://label@silentflow.org">label@silentflow.org</a></h3>

        </div>
    </div>

    <link rel="stylesheet" href="{% static '/css/sf/contact.css' %}?v={{ version }}">
{% endblock %}