{% extends "base.html" %}
{% load static %}
{% block title %}<title>Silent Flow Netlabel contact page</title>{% endblock %}
{% block content %}
    <div class="padding-top-100"></div>
    <div class="banner-container">
        <h1 class="center-align">Contact</h1>
        <h2 class="center-align">and release submission</h2>
        <div class="center-align contact-container">
            <h3><a href="mailto://label@silentflow.org">label@silentflow.org</a></h3>
        </div>
    </div>

    <link rel="stylesheet" href="{% static '/css/sf/contact.css' %}">
{% endblock %}