.collapsible-header {
    border: 0;
}

.collapsible {
    border: 0;
    box-shadow: none;
}

.collapsible-body {
    border: 0;
    padding-top: 5px;
}

.collapsible-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.artist-bio {
    font-size: 1.2rem;
}

.artist-header {
    text-align: center;
    margin-bottom: 0;
}

.card .card-content .card-title{


}

.card .card-content{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 10px;

}

@media only screen and (min-width: 600px){

    .card .card-content {
        height: 300px;
        overflow-y: auto;
    }

}