body {
    /* background-color: #292B2C; */
    background-color: #212121;
    color: #fff;
}

.sf_navlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.button-collapse {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

nav {
    box-shadow: none;
}

nav a {
    color: #fff !important;
}

nav a:hover {
    text-decoration: underline !important;
}