body {
    /* background-color: #292B2C; */
    background-color: #212121;
    color: #fff;
}

.sf_navlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.button-collapse {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

nav {
    box-shadow: none;
}

a {
    color: #fff !important;
}

a:hover {
    text-decoration: underline !important;
}

h3 {
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}