html {
    font-family: Archivo;
  }

body {
    background-color: #212121;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: #212121;
    flex: 1 0 auto;
}

.sf_navlogo {
    margin-left: 10px;
    margin-top: 10px;
}

.button-collapse {
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0px !important;
}

.brand-logo {
    height: 64px;
    padding-right: 10px !important;
}

nav {
    box-shadow: none;
}

a {
    color: #fff !important;
}

a:hover {
    text-decoration: underline !important;
}

h1 {
    font-weight: 700;
    margin: 0;
    /* font-family: Slider; */
    /* text-transform: uppercase; */
}

h2 {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fixed-action-btn {
    right: auto;
    bottom: auto;
}

.fixed-action-btn.horizontal {
    padding: 15px 0 0 15px;
}

.fixed-action-btn.horizontal ul {
    left: 0;
    text-align: left;
    padding-left: 85px;
}

.btn-floating:focus {
    background-color: #424242;
}

.btn-floating {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    background-color: transparent;
    padding: 0 5px 0 0;
}

.btn-floating.btn-large {
    width: 50px;
    height: 50px;
    box-shadow: none;
    background-color: transparent;
}

.btn-floating.btn-large a{

}

.btn-floating:hover {
    box-shadow: none;
}


.footer-copyright {
    background-color: #212121 !important;
}


.padding-top-100 {
    padding-top: 100px;
}

.small-font {
    font-size: 0.875rem;
}