#logo-img {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    height: auto;
}

.banner-container {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10px;
}

.banner-top-spacer {
    padding-top: 150px;
}

.banner-bottom-spacer {
    padding-top: 250px;
}

.heading-container h1 {
    font-weight: 700;
    font-size: 2rem;
    display: inline;
}

.heading-container h2 {
    font-weight: 700;
    font-size: 1.6rem;
    display: inline;
}

.release-container {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000;
}

.release-background-container {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    left: -20px;
    top: 0;
    filter: blur(15px);
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.release-background-container-first {
    filter: none;
}

.release-text-container {
    position: relative;
    z-index: 1;
}

.rel-container {
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000;
    box-shadow: 10px 0px -10px 5px rgba(0, 0, 0, 1)
}

.rel-text-container {
    position: relative;
    z-index: 1;
}

.rel-background-container {
    position: absolute;
    width: calc(100% + 40px);
    /*height: calc(100% + 40px);
    left: -20px; */
    top: 0;
    bottom: 0;
    /*filter: blur(15px); */
    z-index: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /*transform: translateZ(-1px);*/
}

h3 {
    font-weight: 700;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
}

.release-headline {
    font-weight: 300;
}

.testlink a {
    color: #fff;
}

.full-catalogue {
    display: inline-block;
    padding: 0.2em 1em;
    border: 1px solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    font-size: 1.5rem;
    box-shadow: 1px 2px 2px 2px rgba(50, 50, 50, 0.2)
}

.full-catalogue:hover {
    color: #212121!important;
    background-color: #ffffff;
    text-decoration: none!important;
    text-shadow: none;
}

@media only screen and (min-width: 900px) {
    .release-container{
        padding-top: 220px;
        padding-bottom: 220px;
    }

    .rel-container {
    padding-top: 240px;
    padding-bottom: 240px;
    }

    .banner-top-spacer {
        padding-top: 200px;
    }

    .banner-bottom-spacer {
        padding-top: 200px;
    }

    #logo-img {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}