.banner-container {
    /* padding-top: 40px; */
    padding-bottom: 60px;
    color: #fff;
}

h1 {
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

.testlink a {
    color: #fff;
}