.banner-container {
    padding-bottom: 60px;
    color: #fff;
}

.release-container {
    padding-top: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 1);

}

.release-headline {
    font-weight: 300;
}

.testlink a {
    color: #fff;
}