.cover-container {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;

    position: relative;
    z-index: 0;
    overflow: hidden;
    /* background-color: #000; */
}

.cover-background-container {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    /* left: -20px; */
    top: 0;
    /* filter: blur(15px); */
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review-container{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

.btn-pause, .btn-play {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.track{
    display:inline-block;
    line-height:30px;
}
.tracks_container > ul {
    display: inline-block;
    text-align: left;
    max-width: 95%;

}

@media only screen and (min-width: 900px){

    .cover-container {
        padding-top: 220px;
        padding-bottom: 220px;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .review-container{
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .tracks_container > ul{
        max-width: 80%;
    }
}