.cover-container {
    padding-top: 100px;
    /* padding-bottom: 100px; */
    color: #fff;

    position: relative;
    z-index: 0;
    overflow: hidden;
    /* background-color: #000; */
}

.release-date {
    padding-top: 90px;
    padding-right: 5px;
    font-size: 0.65rem;
}

.recommended-cover-container {
    /*padding-top: 100px;
    padding-bottom: 100px;*/
    color: #fff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 300px;
    padding: 50px 0px 5px 0px !important;
    text-align: center
}

.recommended-divider {
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 0px;
}

.cover-background-container {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recommended-cover-background-container{
    position: absolute;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-box-shadow:    inset 0 5px 8px rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0 5px 8px rgba(0,0,0,0.7);
    box-shadow:         inset 0 5px 8px rgba(0,0,0,0.7);
}

.review-container{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

.recommended-text {
    padding: 0 5px;
}

.recommended-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-pause, .btn-play {
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 0;
}
.track{
    display:inline-block;
    line-height: 30px;
    padding-left: 28px;
}

.tracks_container > ul {
    display: inline-block;
    text-align: left;
    max-width: 95%;
}

.tracks_container > ul > li {
    position: relative;
}

.share_buttons_container{
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.share_buttons{
    right: 43px!important;
}
.share_buttons li{
    margin: 0!important;
}

.share_toggle_button img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    max-height: none;
    position: relative;
    top: -2px;
    left: -2px;
}
.share_buttons .btn-floating{
    padding: 0 10px;
    margin-top: 5px;
}
.share_buttons .btn-floating:hover{
    background-color: #424242;
}

.share_buttons img {
    vertical-align: middle;
    max-height: 20px;
}

.artist {
    padding: 30px;
}

.artist-text {
    padding: 0 0 30px 0;
}

.download-button {
    width: 200px;
    display:inline-block;
    padding:0.2em 1em;
    border:0.1em solid #FFFFFF;
    margin:0 0 3px 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 700;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    /*font-size: 1.2rem;*/
    box-shadow: 1px 2px 2px 2px rgba(50, 50, 50, 0.2)
}

.download-button:hover {
    color: #212121!important;
    background-color: #FFFFFF;
    text-decoration: none!important;
    /*transform: scale(1.2);*/
    text-shadow: none;
    /*font-size: 1.2rem*/
    /*padding: 0.4em 1.3em;*/
}

.download-button-lossless {
    width: 200px;
    display:inline-block;
    padding:0.2em 1em;
    border:0.1em solid #FFFFFF;
    margin:0 0 3px 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 700;
    font-size: 0.75em;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    /*font-size: 1.2rem;*/
    box-shadow: 1px 2px 2px 2px rgba(50, 50, 50, 0.2)
}

.download-button-lossless:hover {
    color: #212121!important;
    background-color: #FFFFFF;
    text-decoration: none!important;
    /*transform: scale(1.2);*/
    text-shadow: none;
    /*font-size: 1.2rem*/
    /*padding: 0.4em 1.3em;*/
}

.download-button_extended{
    /*padding: 0;*/
    padding: 0 30px 0 0;
    position: relative;
    border: 1px solid #FFF;
}
.download-button_extended .inner_text{
    font-size: inherit;
    padding: 0.2em 1em;
    display: inline-block;
}
.download-button_extended .inner_label{
    float: right;
    height: 100%;
    background: #fff;
    color: #333;
    text-shadow: none;
    line-height: 23px;
    font-size: 10px;
    width: 30px;
    position: absolute;
    right: -1px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 900px){

    .cover-container {
        padding-top: 220px;
        /*padding-bottom: 220px;*/
    }

    .release-date {
        padding-top: 210px;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .review-container{
        font-size: 1.5rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    .tracks_container > ul{
        max-width: 80%;
    }
}